/*Jerry French
7/13/22
csc 350 Week 3 Lab 3
*/


.container{
    padding: 10px;
    background: black !important;
    color: white;
}

.ui-bady-c{
    background: black !important;
}

.ui-input-text{
    background: black;
    color: white;
}

.invalid{
    text-shadow: none;
    color:red ;
    min-height: 30px;
}

